<div class="box-menu-ini" id="box-menu-ini"> <!-- ********** MENU INICIO ********** -->
    <img class="imgUser" src="/assets/userImg/airplane.bmp" alt="">
    <div class="menu-content">
        <!-- Sección Izquierda -->
        <!-- Herramientas y otros Accesos personales (Mi PC, Fotos, Música…)-->
        <div class="menu-left-section">
            <!-- Img cabecera dimiamica menu inicio -->

            <div class="accesos">
                <div class="item" data-app="my-pc" data-img="icons/menu-ini/sec1/mi-pc.png">
                    <a href="#">Mi PC</a>
                </div>

                <div class="item" (click)="abrir('contacts')" data-img="icons/menu-ini/sec1/contacts.png">
                    <a href="#"> Contactos </a>
                </div>

            </div>
        </div>

        <!-- Sección Derecha -->
        <div class="menu-right-section">
            <!-- Columna derecha (Programas)  -->

            <!-- Programas frecuentes + botón "Todos los programas -->
            <div class="pinned-programs">

                <div class="program-item-menu">
                    <a href="#">
                        <img src="/assets/icons/apps/office/libreoffice-writer.png" alt="" />
                        <span>Word</span>
                    </a>
                </div>

                <div class="program-item-menu">
                    <a href="#">
                        <img src="/assets/icons/start-menu/stock_last.png" alt="" />
                        <span>Todos</span>
                    </a>
                </div>
            </div>

            <!-- Configuración, Apagar, Ayuda, Cambiar de usuario -->
            <div class="system-actions">
                <div class="opc-conf-sec-1">

                    <div class="opcion-conf">
                        <a href="configuracion/configuracion.php">Configuración</a>
                    </div>

                    <div class="opcion-conf">
                        <a href="">Ayuda</a>
                    </div>
                </div>

                <div class="opc-conf-sec-2">
                    <div class="opcion-conf">
                        <a href="configuracion/configuracion.php">
                            <img src="./icons/menu-ini/sec2/opc-conf-sec-2/s-user.png" alt="">
                            <span>Cerrar Sesión</span>
                        </a>
                    </div>

                    <div class="opcion-conf">
                        <a href="">
                            <img src="./icons/menu-ini/sec2/opc-conf-sec-2/power.png" alt="">
                            <span>Apagar</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>