<div class="taskbar" [ngClass]="{ expanded: collapsed }">

  <!-- Sección izquierda: botón de inicio -->
  <!-- <div class="taskbar-start" #startButton>
     <button class="start-button" (click)="toggleStartMenu()">Inicio</button>
    <app-start-menu *ngIf="startMenuVisible" />
  </div> -->
  <div class="taskbar-start">
    <button #startButton class="start-button" (click)="toggleStartMenuClick()">
      <!-- <img src="assets/icons/taskbar/start-btn.png" alt="Inicio" width="24" height="24"> -->
      <img src="/assets/icons/taskbar/start-btn.png" alt="Inicio" width="24" height="24">

    </button>
  </div>


  <!-- Sección central: botones de ventanas minimizadas -->
  <div class="taskbar-windows">
    <button *ngFor="let win of minimizedWindows" (click)="restoreWindow.emit(win.id)" class="taskbar-item">
      <img [src]="win.icon" alt="icon" class="taskbar-icon" />
      {{ win.title }}
    </button>
  </div>

  <!-- Sección derecha: íconos del sistema (a futuro) -->
  <div class="taskbar-system">
    <button class="sidebar-button" (click)="onToggleSidebar()" [class.collapsed]="collapsed"></button>
    <!-- 🕓 📶 🔋 -->
  </div>


</div>