<div class="taskbar" [ngClass]="{ expanded: collapsed }">

  <!-- Sección izquierda: botón de inicio -->
  <!-- <div class="taskbar-start" #startButton>
     <button class="start-button" (click)="toggleStartMenu()">Inicio</button>
    <app-start-menu *ngIf="startMenuVisible" />
  </div> -->
  <div class="taskbar-start">
  <button #startButton class="start-button" (click)="toggleStartMenuClick()">Inicio</button>
</div>


  <!-- Sección central: botones de ventanas minimizadas -->
  <div class="taskbar-windows">
    <button *ngFor="let win of minimizedWindows" (click)="restoreWindow.emit(win.id)" class="taskbar-item">
      {{ win.title }}
    </button>
  </div>

  <!-- Sección derecha: íconos del sistema (a futuro) -->
  <div class="taskbar-system">
    <button class="sidebar-button" (click)="onToggleSidebar()">≡</button>
    🕓 📶 🔋
  </div>

</div>