// Barra lateral a la derecha.
.sidebar-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 200px;
  background-color: #2623ff;
  // transition: width 0.0s ease;
  // z-index: 2;

  &.collapsed {
    width: 0;
    overflow: hidden; // Oculta el contenido que sobresaldría del ancho 0. Es clave para esconder el contenido cuando la barra colapsa.
  }
}

//Zona de escritorio
.content-wrapper {
  position: absolute;
  top: 0;
  // bottom: 0;
  left: 0px;
  right: 200px;
  background-color: rgb(90, 90, 90);
  transition: left 0.0s ease;
  // width: calc(100vw - 200px);
  height: 95%;

  &.expanded {
    right: 0;
    // width: 100vw;
  }
}

/* Taskbar */
// app-taskbar {
//   position: absolute;
//   bottom: 0;
//   right: 0;
//   height: 40px;
//   width: 100%;
//   z-index: 1; 
// }
