<app-desktop>
  <div class="sidebar-wrapper" [class.collapsed]="sidebarCollapsed">
    <app-sidebar></app-sidebar>
  </div>

  <div class="content-wrapper" [class.expanded]="sidebarCollapsed">
    <ng-container *ngFor="let win of windows">
      <app-window [title]="win.title" [contentComponent]="win.contentComponent" (close)="closeWindow(win.id)"
        (minimize)="minimizeWindow(win.id)" [hidden]="!win.visible">
      </app-window>
    </ng-container>
  </div>

  <app-taskbar [collapsed]="sidebarCollapsed" [minimizedWindows]="minimizedWindows" (toggleSidebar)="toggleSidebar()"
    (restoreWindow)="restoreWindow($event)" (toggleStartMenu)="startMenuVisible = !startMenuVisible">
  </app-taskbar>
</app-desktop>

<app-start-menu *ngIf="startMenuVisible" (launchApp)="openApp($event); startMenuVisible = false">
</app-start-menu>