<div class="window" #win (mousemove)="onDrag($event, win)" (mouseup)="stopDrag()" (mouseleave)="stopDrag()">

    <!-- Barra de título -->
    <div class="window-header" (mousedown)="startDrag($event)">

        <!-- Primera fila: Botones de ventana (cerrar, minimizar, etc.) -->
        <div class="header-top">
            <div class="window-actions">
                <button (click)="minimize.emit()">−</button>
                <button (click)="toggleMaximize(win)">
                    {{ maximized ? '🗗' : '🗖' }}
                </button>
                <button (click)="close.emit()">✖</button>
            </div>
        </div>

        <!-- Segunda fila: Navegación -->
        <div class="header-bottom">

            <!-- Columna 1: Botones adelante / atrás -->
            <div class="nav-buttons">
                <button><img src="/assets/icons/btn/arrow-forward-des.png" alt="Adelante"></button>
                <button><img src="/assets/icons/btn/arrow-back-des.png" alt="Atrás"></button>
            </div>


            <!-- Columna 2: Título + barra de navegación -->
            <div class="nav-center">

                <div class="title">
                    <span class="window-title">{{ title }}</span>
                </div>


                <div class="address-bar" (click)="handleAddressClick($event)">

                    <!-- para los breadcum y el input -->
                    <div class="address-bar-s1">
                        <ng-container *ngIf="!isEditingAddress; else editingMode">
                            <!-- Breadcrumb visible -->
                            <div class="breadcrumb-node" id="node-pc">
                                <span class="node-label">Este Equipo</span>
                                <img class="node-arrow" src="/assets/icons/btn/caret-right-solid-w.svg" alt="Abrir">
                                <div class="breadcrumb-dropdown">
                                    <ul>
                                        <li class="cancel"><a href="#"> <b>Este Equipo</b> </a></li>
                                        <li class="cancel"><a href="#">Ayuda</a></li>
                                        <li class="cancel"><a href="#">Mis Documentos</a></li>
                                        <li class="cancel"><a href="#">Papelera</a></li>
                                        <li class="cancel"><a href="#">Buscar</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="breadcrumb-node" id="node-contactos">
                                <span class="node-label">Contactos</span>
                                <img class="node-arrow" src="/assets/icons/btn/caret-right-solid-w.svg" alt="Abrir">
                                <div class="breadcrumb-dropdown">
                                    <ul>
                                        <li class="cancel"><a href="#">Administrador de Documentos</a></li>
                                        <li><a href="#"><b>Contactos</b></a></li>
                                        <li class="cancel"><a href="#">Panel de Control</a></li>
                                        <li class="cancel"><a href="#">Documentos</a></li>
                                        <li class="cancel"><a href="#">Juegos</a></li>
                                        <li class="cancel"><a href="#">Disco Local</a></li>
                                        <li class="cancel"><a href="#">Música</a></li>
                                        <li class="cancel"><a href="#">Fotos y Videos</a></li>
                                        <li class="cancel"><a href="#">Documentos compartidos</a></li>
                                    </ul>
                                </div>
                            </div>
                        </ng-container>

                        <!-- Editable input -->
                        <ng-template #editingMode>
                            <div class="address-edit-wrapper">
                                <input type="text" [(ngModel)]="editablePath" class="address-input"
                                    (click)="$event.stopPropagation()" />

                            </div>
                        </ng-template>
                    </div>

                    <button class="breadcrumb-toggle-btn" id="toggle-dir-dropdown">
                        <img class="node-arrow" src="/assets/icons/btn/caret-down-solid.svg" alt="Abrir">
                    </button>

                    <div class="breadcrumb-dropdown-dir">
                        <ul>
                            <li><a href="#"> <img src="/assets/icons/location-icon-sm/desktop.png" alt="">
                                    Escritorio</a>
                            </li>
                            <li><a href="#"> <img src="/assets/icons/location-icon-sm/document-open.png" alt="">Mis
                                    Documentos</a></li>
                            <li><a href="#">
                                    <img src="/assets/icons/location-icon-sm/computer.png" alt="">Este Equipo</a>
                            </li>
                        </ul>
                    </div>

                </div>

            </div>
            <!-- Fin Columna 2 -->

            <!-- Columna 3: Iconos de favoritos -->
            <div class="favorites">
                <img src="assets/icons/btn/system-search.png" alt="Buscar">
                <img src="assets/icons/btn/favoritos.png" alt="Favoritos">
            </div>

        </div>
        <!-- Fin Segunda Fila -->

    </div>
    <!-- Fin Barra de título -->


    <!-- Barra de herramientas -->
    <div class="modal-toolbar">
        <!-- <button>Copiar</button>-->
        <!-- Puedes agregar íconos o SVGs más adelante -->
    </div>

    <div class="window-body">
        <!-- Aquí se inserta el componente dinámico -->
        <ng-template #contentContainer></ng-template>
    </div>


</div>

<!-- #win es una template reference variable.
👉 Le da un nombre (win) al elemento HTML <div class="window"> para que lo puedas usar dentro del componente.
📌 Es como decir:
“Este div se va a llamar win dentro del HTML, y lo puedo pasar como argumento a funciones”. 

¿Por qué pasar win como argumento?
Porque dentro de la función onDrag(event, win), necesitas acceder al DOM de la ventana para moverla usando estilos:

    win.style.left = `${newLeft}px`;
    win.style.top = `${newTop}px`;

Estos eventos ((mousemove), (mouseup), (mouseleave)) capturan el movimiento del mouse mientras arrastras la ventana:
Evento	¿Qué hace?
(mousemove)	Detecta movimiento del mouse y llama a onDrag() para mover la ventana.
(mouseup)	Finaliza el movimiento (cuando sueltas el botón del mouse).
(mouseleave)	Lo mismo que mouseup, pero en caso de que el mouse salga del div sin soltar.
-->