.window {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border: 1px solid #333;
  z-index: 10;
  user-select: none;
  overflow: hidden;
}

.window-content {
  padding: 10px;
}

.close-btn {
  background: none;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.window-header {
  display: grid;
  grid-template-rows: 25% 75%;
  background: linear-gradient(270deg,
      #2b2b2b 0%,
      #676767 50%,
      #000000 110%);
  color: white;
  padding: 0;
  font-weight: bold;
  cursor: move;
}

// Primera fila: Botones de ventana (cerrar, minimizar, etc.) 
.header-top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 3px;
  // background-color: aquamarine;
}

.window-actions button {
  background: rgb(255, 136, 89);
  border: none;
  color: white;
  // cursor: pointer;
  padding: 5px 8px;

  &:hover {
    background: rgb(255, 193, 169);
  }
}

.header-bottom {
  display: grid;
  grid-template-columns: 60px 1fr 120px;
  // background-color: #fffd7d;
  align-items: center; // Alinea verticalmente los elementos
  padding: 0 10px;
}

//Columna 1: Botones adelante / atrás
.nav-buttons {
  display: flex;
  gap: 5px;
}

// Columna 2: Título + barra de navegación
.nav-center[_ngcontent-ng-c883319084] {
  display: grid;
  grid-template-rows: 40% 60%;
  // background-color: cadetblue;
  gap: 2px;
  padding: 0;
}

.title span {
  font-size: 14px;
  font-weight: bold;
  color: #f1f1f1;
}

.address-bar {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 1px;
  font-size: 12px;
  font-family: Arial, sans-serif;
  border: 1.4px solid transparent;
  border-radius: 2px;
  text-indent: 10px;


  &:hover {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: var(--aero-transp-nv);
    border-color: #969696;
    cursor: pointer;
  }

  // input {
  //   flex: 1; // forma abreviada en Flexbox para hacer que un elemento crezca y ocupe todo el espacio disponible dentro del contenedor flexible.
  //   padding: 5px;
  //   border: none;
  //   background-color: #f0f0f0;
  // }

  // button {
  //   background: #ffffff;
  //   color: rgb(12, 12, 12);
  //   border: none;
  //   padding: 4px 8px;
  //   border-radius: 0 2px 2px 0;
  //   cursor: pointer;

  //   &:hover {
  //     background: #666;
  //   }
  // }
}

/* Contenedor del botón y dropdown */
.breadcrumb-btn-list {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.breadcrumb-toggle-btn {
  display: none;
  padding: 0;
  background: linear-gradient(180deg, #ffffff 27%, #c8c6d8 62%);
  border: #ffffff solid 1.5px;
  height: auto;
}

.address-bar:hover .breadcrumb-toggle-btn,
.address-bar.open .breadcrumb-toggle-btn {
  display: block;
  /* Mostrar cuando hover o abierto */
}


.breadcrumb-toggle-btn:hover {
  background: linear-gradient(180deg, #fdfdfd 27%, #bcf3ff 62%);
}

.breadcrumb-toggle-btn:active {
  background: linear-gradient(0deg, #ffffff 27%, #a8a7ba 62%);
  color: #000000;
  border: #ffffff solid 1.5px;
  height: 16px;
}

.breadcrumb-toggle-btn img {
  pointer-events: none;
  /* permite que el clic pase al botón */
}

.breadcrumb-dropdown-dir {
  position: absolute;
  top: 100%;
  /* Justo debajo del selectBox */
  right: 0;
  background: #f0f0f0f7;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  padding: 6px;
  width: 856px;
  display: none;
  z-index: 10;
  /* Por si hay elementos encima */
}


.breadcrumb-dropdown-dir ul {
  margin: 0;
  padding: 0;
  list-style: none;

}

.breadcrumb-dropdown-dir li {
  padding: 4px 12px;
  border: #8df0ff00 solid 1px;
}


.breadcrumb-dropdown-dir ul li:hover {
  background-color: #b6f5ff;
  border: #8defff solid 1px;
  border-radius: 3px;
}

.breadcrumb-dropdown-dir li a {
  color: #000783;
  text-decoration: none;
}



.breadcrumb-node {
  display: flex;
  align-items: center;
  position: relative;
  /* padding: 2px 0px 2px 0px; */
  border-radius: 0;
  border: #5e5c5c00 solid 1px;
  /* transition: background 0.2s; */
  /* background: #53acff; */
}


.breadcrumb-node:hover {
  cursor: pointer;
  background: linear-gradient(0deg, #666 0%, #999 100%);
  border: #999 solid 1px;
  border-radius: 2px;
}

.breadcrumb-node:active {
  background: linear-gradient(180deg, #313131 0%, #494949 100%);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.5);
}


.breadcrumb-node:hover span {
  border-right: #999 solid 1px;
}

.node-label {
  color: #fff;
  padding-right: 6px;
}

.node-arrow {
  width: 14px;
  height: 14px;
  /* transition: transform 0.2s; */
  padding: 2px;
  border-radius: 4px;
  /* background-color: rgba(255, 255, 255, 0.1); */

}

.breadcrumb-node:hover .node-arrow {
  display: inline;
  /* background-color: rgba(255, 255, 255, 0.25); */
  transform: rotate(90deg);
  /* border-left: #ffffff solid 1px; */
}

/* Dropdown estilo */
.breadcrumb-dropdown {
  display: none;
  /* position: absolute; */
  top: 10%;
  left: 0;
  background: #f0f0f0f7;
  border-radius: 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  padding: 6px;
  width: 150px;
  position: fixed;
  /* z-index: 999; */
}

.breadcrumb-dropdown ul {
  margin: 0;
  padding: 0;
  list-style: none;

}

.breadcrumb-dropdown li {
  padding: 4px 12px;
  border: #8df0ff00 solid 1px;
  /* transition: background 0.2s; */
}


.breadcrumb-dropdown ul li:hover {
  background-color: #b6f5ff;
  border: #8defff solid 1px;
  border-radius: 3px;
}

.breadcrumb-dropdown li a {
  color: #000783;
  text-decoration: none;
}


#node-contactos .node-arrow {
  display: none;
}


#node-contactos:hover .node-arrow {
  display: block;
  /* background-color: rgb(241, 0, 0); */
}





/////////////////////////////////
.favorites {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

.window-body {
  padding: 10px;
  background-color: white;
}