<div class="sidebar-container">
    <div class="sidebar-inner">
        <div class="left-custom-menu-adp-wrap comment-scrollbar">
            <div class="widget contacts-widget">
                <div class="top-line"></div>
                <div class="corner-button"></div> <!-- Aquí va el triángulo -->
                <div class="user-profile">
                    <img src="assets/icons/sidebar/perfil-image.png" alt="">
                    <p>Mau</p>
                </div>

                <ul>
                    <li><a href="#">John</a></li>
                    <li><a href="#">Angela</a></li>
                    <li class="new-message"><a href="#">Maria G</a></li>
                    <li class="off-line"><a href="#">Roy</a></li>
                    <li><a href="#">Maria B</a></li>
                    <li><a href="#">Thomas</a></li>
                    <li class="new-message"><a href="#">Martin</a></li>
                    <li class="off-line"><a href="#">Juanito Juan</a></li>

                </ul>

            </div>

            <div class="widget search-widget">
                <div class="top-line"></div>
                <div class="corner-button"></div>
                <input type="text" placeholder="Buscar..." class="search-input">
            </div>


            <div class="widget mail-widget">
                <div class="top-line"></div>
                <div class="corner-button"></div>

                <div class="mail-item new-message">
                    <img src="assets/icons/sidebar/mail-widget/mail_new.png" alt="">
                    <span>Documentos para Stan...</span>
                </div>
                <div class="mail-item new-message">
                    <img src="assets/icons/sidebar/mail-widget/mail_new.png" alt="">
                    <span>Timeline para Tom</span>
                </div>
                <div class="mail-item new-message">
                    <img src="assets/icons/sidebar/mail-widget/mail_new.png" alt="">
                    <span>¿Viste como quedó?</span>
                </div>
                <div class="mail-item">
                    <img src="assets/icons/sidebar/mail-widget/mail-read.png" alt="">
                    <span>RE: El otro día yo tomé ...</span>
                </div>
                <div class="mail-item">
                    <img src="assets/icons/sidebar/mail-widget/mail-read.png" alt="">
                    <span>Listado de hoy: Dana re...</span>
                </div>
                <div class="mail-item">
                    <img src="assets/icons/sidebar/mail-widget/mail-read.png" alt="">
                    <span>Buen día Tim</span>
                </div>
            </div>

            <!-- <div class="widget weather-widget">...</div>
        <div class="widget news-widget">...</div> -->

            <div class="widget clock-widget">
                <div class="top-line"></div>
                <div class="corner-button"></div>

                <div class="clock-wrapper">
                    <div class="clock">
                        <div class="tick" style="transform: rotate(0deg) translateY(-14px);"></div>
                        <div class="tick" style="transform: rotate(30deg) translateY(-14px);"></div>
                        <div class="tick" style="transform: rotate(60deg) translateY(-14px);"></div>
                        <div class="tick" style="transform: rotate(90deg) translateY(-14px);"></div>
                        <div class="tick" style="transform: rotate(120deg) translateY(-14px);"></div>
                        <div class="tick" style="transform: rotate(150deg) translateY(-14px);"></div>
                        <div class="tick" style="transform: rotate(180deg) translateY(-14px);"></div>
                        <div class="tick" style="transform: rotate(210deg) translateY(-14px);"></div>
                        <div class="tick" style="transform: rotate(240deg) translateY(-14px);"></div>
                        <div class="tick" style="transform: rotate(270deg) translateY(-14px);"></div>
                        <div class="tick" style="transform: rotate(300deg) translateY(-14px);"></div>
                        <div class="tick" style="transform: rotate(330deg) translateY(-14px);"></div>
                        <!-- Agujas del reloj -->
                        <div class="hand hour" id="hour-hand"></div>
                        <div class="hand minute" id="minute-hand"></div>
                        <div class="hand second" id="second-hand"></div>
                        <div class="center-dot"></div>
                    </div>

                    <div class="clock-info">
                        <div id="digital-time" class="digital-time">12:34 PM</div>
                        <div id="date" class="date">Jun 07</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>